@tailwind utilities;
@tailwind base;
@font-face {
  font-family: 'Open Sans';
  src: url('../fonts/OpenSans-Regular.ttf') format('ttf');
}
h1, h2, h3, h4, h5, h6, p, span, li, button{
  font-family: 'Open Sans'
}

@tailwind components;