extends layout.pug 
block vars
    - var title = "Editor - Tifu"
    - var desc = "Editando uma notícia"
block append head
    script(src="/js/editor.js")
    style.
        [contenteditable]:focus {   
            caret-color: #F5F5F5;
            outline: 0px solid transparent;
        }
        .empty::before{
            color: #E0E0E0;
            content: attr(data-placeholder);
            padding: 4px;
        }
block content
    article(class="md:p-4 md:grid md:grid-cols-4 md:gap-4")
        div(class="md:col-span-3")
            h1.empty.text-2xl.font-bold(class="md:text-4xl", contenteditable, data-placeholder="Título...")
            p.font-light.empty(contenteditable, data-placeholder="Descrição")
            img#thumbnail(src="../img/upload.png", alt="Upload da Thumbnail", width="900px", height="569px")
            .editable(contenteditable)
                p Demonstração

    .hidden#file-chooser-dialog
        form(action="/", method="get")
            input#thumbnailChoose(type="file", name="thumbnail")