extends layout.pug 
block content
    h1 Bem vindo(a) ao Tifu
    .grid.grid-cols-3.gap-4
        each notice in data
            .card
                a(href="/new/" + notice.id)= notice.title
                p= notice.desc