doctype html
html(lang='pt')
    head
        title=title || 'Home - Tifu'
        link(rel="stylesheet", href="/style/tailwind.min.css", media="print", onload="this.media='all'")
        link(rel="shortcut icon", href="/favicon.ico")
        
        meta(charset="utf-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        meta(name="description", content=desc+' - Tifu' || 'Um grande site de noticias')
        block sources
    body
        nav.bg-blue-100.p-2.rounded-md
            .flex.justify-between
                img(src="/svg/logo.svg", alt="Logo", width="32px", height="32px")
                input#search-box(type="text", name="")
                .flex.justify-between.items-center
                    ul 
                        li 
                            a ultimas noticias
                        li
                            a mais vistas 
                    
        .container.p-2
            block content