block vars
doctype html
html.text-white.text-lg(lang='pt')
    head
    block head
        title= title || 'Home - Tifu'
        link(rel="stylesheet", href="/style/tailwind.css", media="print", onload="this.media='all'")
        link(rel="shortcut icon", href="/favicon.ico")

        meta(charset="utf-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        meta(name="description", content=desc || 'Um grande site de noticias')
    body(class="md:text-base lg:text-lg").text-lg.bg-black-900
        nav(class="bg-blue-100 p-2 mx-4 border-l border-r border-b border-black-800 rounded-b-lg")
            .flex.justify-between
                a(href="/")
                    img(src="/svg/logo-long-dark.svg", alt="Logo", width="64px", height="64px")
                div(class="underline space-x-2")
                    a(href="#") Link
                    a(href="#") Link
                    a(href="#") Link

        .p-2
            block content
        .w-full.bg-black-800.flex.justify-center.p-2 
            img(src="/svg/logo-dark.svg", alt="Logo", width="32px", height="32px")
            