extends layout.pug

block content
    h2 login 
    form(action="/", method="post").flex.flex-col.rounded-md.p-6.shadow-md.space-y-2 
        label Seu nome de usuário 
            input(type="text", name="username", placeholder='fulano-algo').rounded-md.border.border-blue-300.py-2.w-full
        label Sua senha 
            input(type="password", name="passwd").rounded-md.border.border-blue-300.py-2.w-full
        input(type="submit", value="Enviar").w-full.bg-blue-300.py-2.w-full.rounded-md